.content {
	clear: both;
	width: 100%;
	min-height: 100%;
	margin: auto;
	position: relative;

	& .tools {
		text-align: left;
		margin: 0 0 20px 0;

		& div {
			float: right;

			& a {
				&:last-child {
					margin-left: 20px;
				}
			}
		}
	}

	& main {
		max-width: 800px;
		text-align: center;
		margin: 0 auto 0;
		min-height: 100%;

		&.push-bottom {
			margin-bottom: 152px;
		}

		& img {
			display: flex;
			width: 100%;
			height: auto;
		}
	}
}