@parcel-import '../../assets/variables.css';

.loading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	width: 65px;
	height: 65px;
	background: var(--black);
	border-radius: 100%;
	transition: all .5s ease;

	&.fixed {
		position: fixed;
	}
	
	& svg {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) perspective(100px) rotateY(90deg);
		transition: all .5s ease;
	}

	& svg {
		animation: spin .8s ease infinite;
	}
}

@keyframes spin {
	0% {
		transform: translate(-50%, -50%) perspective(100px) rotateY(0deg) rotateX(0deg);
	}

	25% {
		transform: translate(-50%, -50%) perspective(100px) rotateY(90deg) rotateX(0deg);
	}

	50% {
		transform: translate(-50%, -50%) perspective(100px) rotateY(0deg) rotateX(0deg);
	}

	75% {
		transform: translate(-50%, -50%) perspective(100px) rotateY(0deg) rotateX(90deg);
	}

	100% {
		transform: translate(-50%, -50%) perspective(100px) rotateY(0deg) rotateX(0deg);
	}
}